<div class="app-container">
  <header class="app-header">
    <div class="app-logo"><img src="../assets/github.png" alt="" srcset=""></div>
    <nav class="app-nav">
      <a routerLink="/dashboard/search" routerLinkActive="active">Search</a>
      <a routerLink="/dashboard/history" routerLinkActive="active">History</a>
    </nav>
  </header>

  <div class="view-container">
    <router-outlet></router-outlet>
  </div>


  <!-- TODO: convert to a separate component if needed -->
  <footer class="app-footer">
    <p>Developed by Sushil Patel</p>
  </footer>
</div>
